/* css page d'accueil */

body {
    background-color: #a7cbcc;
    color: black;
    display: flex;
    justify-content: center;
    font-family: Roboto Condensed, sans-serif;
}

h1 {
    color :antiquewhite;
    display: flex;
    justify-content: center;
}

nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
nav li{
    display:inline;
}
nav a{
    display:inline-block;
    padding:10px;
}

ul li a {  
 width:100px;
 color : black;
 text-decoration:none;
 text-align:center;
 }
ul li a:hover {
/* background: radial-gradient(#dcdcdc, #000); */
 color:white;
 }   

.choix{
    margin-top: 5%;
}
fieldset{
    margin-top : 7%;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="repeat_password"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top : 2%;
    margin-bottom: 3%;
}

.boutonForm {
    background-color: #1f6955ac;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 20px;
}

.rappel{
    margin-top: 2%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    color: rgb(67, 61, 61);
}
select{
    background-color: whitesmoke;    
    transform: translateY(-2px);
    border-radius: 5px; 
}

.gridChoice{
    margin-top: 3%;
}

.jeu{
    border-radius: 7px;   
    width: auto;           /* Largeur du cadre */
    height: auto;          /* Hauteur du cadre */
    margin: 20px auto;      /* Centrer le cadre sur la page */
    padding: 20px;          /* Espacement intérieur */
    background-color: #e8b9b9; /* Couleur de fond */
    border: 5px solid #333; /* Bordure autour du cadre */
    border-radius: 15px;    /* Coins arrondis */

}

